@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        box-sizing: border-box;
    }

    /* html {
        overflow: hidden;
        width: 100%;
      } */
    
    /* body {
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        -webkit-overflow-scrolling: touch;
    } */

    /* body > #root {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    } */

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
}

@layer components {
    .bg-custom {
        
        background: rgb(89,173,42);
        background: linear-gradient(90deg, rgba(89,173,42,1) 0%, rgba(57,199,66,1) 0%, rgba(7,151,152,1) 100%);
    }

    .bg-banner {
        background-image: url('https://images.pexels.com/photos/7613568/pexels-photo-7613568.jpeg'), linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
        background-blend-mode: overlay;
        background-size: cover;
    }

    .custom-scrollbar-hidden::-webkit-scrollbar {
        width: 0;               /* width of the entire scrollbar */
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 8px;               /* width of the entire scrollbar */
    }
        
    .custom-scrollbar::-webkit-scrollbar-track {
        background: #f5f5f5;        /* color of the tracking area */
    }
        
    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: #04CF77;    /* color of the scroll thumb */
        border-radius: 20px;       /* roundness of the scroll thumb */
        border: 3px solid f5f5f5;  /* creates padding around scroll thumb */
    }

    .custom-scroll-icon::before {
        content: '';
        position: absolute;
        top: -10px;
        right: 2rem;
        height: 20px;
        width: 20px;
        background: white;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        z-index: -1;
    }

    .text-custom {
        background: #04CF77;
        background: linear-gradient(to right, #04CF77 0%, #2580CF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: block;
        min-height: 105px;
    }

    .wizard-container {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0px -56px 76px -2px rgba(0,0,0,0.06);
        -webkit-box-shadow: 0px -56px 76px -2px rgba(0,0,0,0.06);
        -moz-box-shadow: 0px -56px 76px -2px rgba(0,0,0,0.06);
    }

    .wizard-bar {
        height: 6px;
        width: 100%;
        background: linear-gradient(to right, #04CF77 0%, #2580CF 100%);
    }

    .wizard-bar::before {
        content: '';
        position: absolute;
        left: 1.25rem;
        right: 1.25rem;
        height: 6px;
        z-index: -1;
        background: #ccc;

    }

    .wizard-button-container {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        width: 100%;
    }

    .wizard-button-container b {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: white;
    }

}